.newBlock {  display: flex;
    flex-wrap: wrap;  justify-content: space-around;
  }
  .new {
    border: 1px solid #364C54;  border-radius: 10px;
    padding: 20px;  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #364C54;  margin: 10px;
    width: 23%;  float: left;
  }
  .new:hover {  background-color: #5e7076;
  }
  .newImg {  max-width: 100%;
  }
  .newTitle {
    font-size: 24px;  font-weight: bold;
    margin-top: 0;  margin-bottom: 10px;
  }
  .newIntro {
    font-size: 18px;  line-height: 1.5;
  }